ul {
  padding-top: 0px;
   padding-bottom:22px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-family: Times New Roman;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    font-family: Times New Roman;
}

li.menu {
    float: left;
}

li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.menu a:hover {
    background-color: #111;
}
.active {
    background-color: #800080;
}

h1 { font-family: Times New Roman; }
p { font-family: Times New Roman;
   margin-top: 10px;
   margin-bottom: 0px;}

